<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div>
          
        <form class="w-75 p-3 mx-auto mt-5 shadow p-3 mb-5 bg-body rounded" id="loginForm" action="" method="post">

            <!--如果登入失敗顯示在這裡-->
            <div class="text-danger" th:text="${message}"></div>

            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" name="email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" name="password">
              </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>


    </div>

    <script>
        //將表單做成Json送伺服器
        document.getElementById('loginForm').addEventListener('submit', function(event){
            //防止表單默認提交行為
            event.preventDefault();

            //表單資料
            var formData = {
                email: document.getElementById('inputEmail3').value,
                password: document.getElementById('inputPassword3').value
            };

            //表單資料轉為Json格式
            var jsonFormData = JSON.stringify(formData);

            // 獲取當前網站的原始 URL
            var origin = window.location.origin;

            //發送Json到後端
            fetch(origin + '/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonFormData
            })
            .then(response => {

                return response.json();
            })
            .then(data => {

                //是否登入成功
                var message = data.message;
                //跳到哪一頁
                var url = data.url;
                

                if (message === 'success') {
                    
                    var userId = data.userId;
                    
                    //打@GetMapping("/loginSuccess/{userId}")的 Controller
                    window.location.href = origin + url + userId;
                    
                } else {
                    
                    //打@GetMapping("/")的 Controller
                    window.location.href = origin + url + '?message=' + message;
                    
                }


            })
            .catch(error =>{
                console.error('Fetch Error:', error);
            });

        });

    </script>


</body>
</html>